$baseColor:#FF2F66;
.login-container{
    height: 100vh;
    background-color: #fff;
    padding: 0 10px;
    .login-img{

        width: 200px;
        height: 200px;
    }
    .login-btn{
        background-color: $baseColor;
        color: #fff;
    }
    a{
        color: $baseColor;
    }
    .login-text{
        position: fixed;
        color: #ccc;
        font-size: 14px;
        bottom: 10px;
    }
}