
    .movieText{
        padding-left:20px;
        width:200px;
        white-space:wrap;
        
        p{
            font-size: 16px;
            margin: 8px 0;
        }
        label{
            font-size: 14px;
            padding: 5px 0;
            color: #6C6C6C;
        }
        button{  
            background-color: '#FF2E62';
            color: '#FFF';
            font-size: '14px';
            margin-right: '10px'
        }
    }



