.selectCity-container{
    height: 100vh;
    .selectCity-box{
        height: 100%;
    overflow: scroll;
        
        .city-title{
            background-color: #EEE;
            padding: 12px;
        }
       .city-item{
        padding: 14px;
        background-color: #fff;
        border-bottom: 1px solid #EEE;
       }
    }
    
    .sliderCity-box{
        position: fixed;
        right: 0;
        top: 50px;
        width: 20px;
        color: #FF2F66;
        div{
            padding: 3px 0;
        }
    }
}

