.rowNum-box {
  background-color: #ababab;
  position: fixed;
  width: 20px;
  left: 0px;
  top: 50px;
  margin-left: 8px;
  color: #fff;
  border-radius: 15px;
  .rowNum-item {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
